.cars-form-ui {
  .el-input__inner {
    background-color: #1f2329 !important;
    border: 1px solid #1f2329 !important ;
    color: #fff;
    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
    &:-moz-placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }
  .el-form-item {
    margin-bottom: 20px !important;
  }
  .btn-vcode {
    width: 100px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    background-color: #33393e;
    border-radius: 4px;
    border: none;
    outline: none;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 10;
    cursor: pointer;
    &[disabled]{
    opacity: .5;
    }
  }
}
.btn-back {
  width: 100%;
}
