.cars-view {
  position: fixed;
  bottom: 94px;
  right: 0;
  left: 0;
  z-index: 15;
}
.car-swiper-warp {
  position: relative;
  padding: 0 155px;
  .swiper-container {
    overflow: unset;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    outline: none;
    background-color: #fff;
    border-radius: 100px;
    &.swiper-button-disabled {
      opacity: 1;
    }
    @include webkit(transition, all 0.3s ease 0s);
    @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, 0.2));
    &:hover {
      background-color: $color-main;
    }
  }
  .swiper-button-prev {
    left: 53px;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      border-top: 3px solid #333;
      border-left: 3px solid #333;
      margin-left: 5px;
      @include webkit(transform, rotate(-45deg));
    }
    &:hover {
      &:after {
        border-top: 3px solid $color-blue;
        border-left: 3px solid $color-blue;
      }
    }
  }
  .swiper-button-next {
    right: 53px;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      margin-right: 5px;
      border-top: 3px solid #333;
      border-right: 3px solid #333;
      @include webkit(transform, rotate(45deg));
    }
    &:hover {
      &:after {
        border-top: 3px solid $color-blue;
        border-right: 3px solid $color-blue;
      }
    }
  }

}
